<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- icon css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="font-awesome-animation.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home.css' />
    <title>HOME</title>
</head>

<body>
    <!-- Narbar-->
    <%- include layer/navbar.ejs %>
    <!-- end of Narbar-->
<!-- LEFT -->
    <main>
        <div class="sidebar bg-light shadow">
            <div class="flex-shrink-0 p-3 " >
                <a  class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold"><i class='fas fa-user-astronaut' style='font-size:36px'></i> Profile</span>
                </a>
                
                    <div class="card ">
                        <div class="card-header">
                            <img src="https://avatars.githubusercontent.com/u/60424171?s=400&u=76ec41938a4f000b0b7eb62b1932a706ff0f1dc5&v=4" class="img-thumbnail" >
                            
                            <div class="card-body">
                                <h7 class="card-title"><b>NITIGON PHADUNGSAT</b></h7>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class=" card-header bg-light ">
                        </div>
                <thead>
                    <div class="card ">
                        <div class="card-header">
                            <i class="fas fa-school" style="font-size: 25px;;align-items: center; " ></i><b> Class</b>
                            <br><br>
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin">
                                <i class="fas fa-plus" style="font-size: 20px;;align-items: center;" ></i><b> Join Class</b>
                              </button>
                              <br><br>
                            
                        </div>	
                </thead>
                <div class=" card-header bg-light ">
                </div>
                <thead>
                    <div class="card ">
                        <div class="card-header">
                            <i class="fa fa-fire" style="font-size: 25px;;align-items: center; " ></i><b> เนื้อหาที่แนะนำ</b>
                            <!-- <- include recommendation.ejs %>-->
                            <div class="card-body">
                                <h6 class="card-title">COURSE : A</h6>
                                <h6 class="card-title">Project : Tik</h6>
                                <p class="card-text">TEST ABC</p>
                            </div>
                        </div>
                </thead>
            </div>
        </div>
    </main>

    <div class="content">
        <div id = "content" class="container">
            <div class="box bg-light  mb-5 shadow" >
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                    <h1 id = 'content'> DASHBOARD 1 </h1>
                </div>
            </div>
        </div>
        <div id = "content" class="container">
            <div class="box bg-light  mb-5 shadow" >
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                    <h4 id="scrollspyHeading1">First hecsscscading</h4>
                    <p>...</p>
                    <h4 id="scrollspyHeading2">Secondcssc heading</h4>
                    <p>...</p>
                    <h4 id="scrollspyHeading3">Third cscsheading</h4>
                    <p>...</p>
                    <h4 id="scrollspyHeading4">Fourth csscheading</h4>
                    <p>...</p>
                    <h4 id="scrollspySemicolons">Fifthcs heading</h4>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div id = "content" class="container">
            <div class="box bg-light  mb-5 shadow" >
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                    <h1 id = 'content'> DASHBOARD 2 </h1>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Modal -->
<div class="modal fade" id="Classjoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Class Join</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form>
        <div class="modal-body">
            <div class="mb-3">
                <label for="classCode" class="form-label">Class Code</label>
                <input type="text" class="form-control" id="classCode" placeholder="ใส่โค้กสำหรับเข้าชั้นเรียน">
                <div  class="form-text">สามารถรับโค้ดจากอาจารย์ผู้สอน</div>
              </div>
          //เมื้อกด join = redirection ให้มัน refesh
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
        </form>

      </div>
    </div>
  </div>


</body>

</html>


