<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow ">
        <div class="container">
            <a class="navbar-brand mb-0 h5" href="#">APPT <b>System</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mb-0 h5 ms-auto">
                    <li class="nav-item active ">
                        <a class="nav-link" href="#"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Project </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-power-off"
                                style="font-size: 25px;;align-items: center; "></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="sidebar">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">C Language</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#syntax-collapse" aria-expanded="false">
                            Syntax
                        </button>
                        <div class="collapse show" id="syntax-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Semicolons</a></li>
                                <li><a href="#" class="link-dark rounded">Comments</a></li>
                                <li><a href="#" class="link-dark rounded">Identifier</a></li>
                                <li><a href="#" class="link-dark rounded">Keywords</a></li>
                                <li><a href="#" class="link-dark rounded">Whitespace in c</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#datatype-collapse" aria-expanded="false">
                            Data Type
                        </button>
                        <div class="collapse" id="datatype-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">ตัวแปรและประเภทข้อมูล</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#variable-collapse" aria-expanded="false">
                            Variable
                        </button>
                        <div class="collapse" id="variable-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">ประเภทข้อมูล</a></li>
                                <li><a href="#" class="link-dark rounded">การประกาศตัวแปร</a></li>
                                <li><a href="#" class="link-dark rounded">Boolean</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#string-collapse" aria-expanded="false">
                            String
                        </button>
                        <div class="collapse" id="string-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">การหาความยาวของ String</a></li>
                                <li><a href="#" class="link-dark rounded">การคัดลอก String ไปยังตัวแปรใหม่</a></li>
                                <li><a href="#" class="link-dark rounded">การเชื่อม String</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#io-collapse" aria-expanded="false">
                            I/O
                        </button>
                        <div class="collapse" id="io-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">I/O กับประเภทข้อมูล</a></li>
                                <li><a href="#" class="link-dark rounded">ฟังก์ชัน printf</a></li>
                                <li><a href="#" class="link-dark rounded">ฟังก์ชัน scanf</a></li>
                                <li><a href="#" class="link-dark rounded">Escape characters</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#sc-collapse" aria-expanded="false">
                            Switch case
                        </button>
                        <div class="collapse" id="sc-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">คำสั่ง switch case</a></li>
                                <li><a href="#" class="link-dark rounded">การใช้งานคำสั่ง switch case</a></li>
                                <li><a href="#" class="link-dark rounded">การสร้างเงื่อนไขแบบ OR</a></li>
                                <li><a href="#" class="link-dark rounded">If-else</a></li>
                                <li><a href="#" class="link-dark rounded">Function</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#array-collapse" aria-expanded="false">
                            Array
                        </button>
                        <div class="collapse" id="array-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">การประกาศ Array</a></li>
                                <li><a href="#" class="link-dark rounded">การอ่านค่าใน Array</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#pointer-collapse" aria-expanded="false">
                            Pointer
                        </button>
                        <div class="collapse" id="pointer-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Address of operation(&)</a></li>
                                <li><a href="#" class="link-dark rounded">Dereterence operation (*)</a></li>
                                <li><a href="#" class="link-dark rounded">การใช้ Pointer กับ Array</a></li>
                                <li><a href="#" class="link-dark rounded">Pointer arithmetices</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#fileoperation-collapse" aria-expanded="false">
                            File Operation
                        </button>
                        <div class="collapse" id="fileoperation-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">การเปิด-ปิดไฟล์</a></li>
                                <li><a href="#" class="link-dark rounded">การเขียนลงบนไฟล์</a></li>
                                <li><a href="#" class="link-dark rounded">การทำงานกับ Binary</a></li>
                                <li><a href="#" class="link-dark rounded">การเขียนข้อมูลใน Binary File</a></li>
                                <li><a href="#" class="link-dark rounded">การอ่านข้อมูลใน Binary File</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <div class="content">
        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <div class="box">
                    <h2>Responsive Sidebar Example</h2>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="box2">
                  <p>Recommendation</p>
                </div>
              </div>
              
            </div>
          </div>
    </div>
</body>

</html>