<header>
    <title>ADMIN</title>
</header>
<%- include('../layouts/header') %><br><br><br>
<center>
<h1><a href="/admin/users">Manage Users</a></h1>
<h1> Admin </h1>

</center>
<%- include('../layouts/footer') %>