<!-- LEFT -->
<main>
    <!-- START OF C Language-->
    <div class="sidebar bg-light shadow">
        <div class="flex-shrink-0 p-3 " >
            <a href="/course" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold"><i class='fas fa-code' style='font-size:24px'></i> PROJECT </span>
            </a>
            <ul class="list-unstyled ps-0">
                <div class="accordion" id="accordionParentC"> 
                    <!-- Project A -->   
                    <li class="mb-1">
                        <li><a href="/project-Tic_Tac_Toe" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Tic Tac Toe
                        </a></li>
                    </li>
                    <!-- Project B -->   
                    <li class="mb-1">
                        <li><a href="/project-Library_System" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Library System 
                        </a></li>
                    </li>
                    <!-- Project C -->   
                    <li class="mb-1">
                        <li><a href="/project-Roshambo" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Roshambo 
                        </a></li>
                    </li>
                    <!-- Project D -->   
                    <li class="mb-1">
                        <li><a href="/project-Calendar" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Calendar
                        </a></li>
                    </li>
                    <!-- Project E -->   
                    <li class="mb-1">
                        <li><a href="/project-Calculator " class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Calculator 
                        </a></li>
                    </li>
                </div>
            </ul>     
        </div>
    </div>
</main>
<!-- END OF LEFT-->