<!-- LEFT -->
<main>
    <!-- START OF C Language-->
            <div class="sidebar bg-light shadow">
                <div class="flex-shrink-0 p-3 " >
                    <a href="/project" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold"><i class='far fa-file-code' style='font-size:24px'></i> Project </span>
                    </a>
                    <ul class="list-unstyled ps-0">


                        <div class="accordion" id="accordionParentC"> 
                            <!-- START OF Introduce-->   
                            <li class="mb-1">
                           
                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseIntroduce" >
                                    Introduce
                                </a></li>

                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseTicTacToe" >
                                    Tic Tac Toe
                                </a></li>

                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseLibrary" >
                                    Library System
                                </a></li>

                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuizGame" >
                                    Quiz Game
                                </a></li>

                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseHangman" >
                                    Hangman
                                </a></li>

                                <li><a class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalendar" >
                                    Calendar
                                </a></li>

                                <li><a class="btn  align-items rounded collapsed fs-6 fw-semibold"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseCustomer" >
                                    Customer Biling
                                </a></li>
                            
                            </li>
                </div>
            </div>
        </main>
<!-- END OF LEFT-->