<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- icon css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="font-awesome-animation.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link rel='stylesheet' href='stylesheets/course.css' />
    <link rel='stylesheet' href='stylesheets/Drag_Drop.css' />
    <title>Course</title>
</head>

    <body>
<!-- Narbar-->
        <%- include ../../layer/navbar.ejs %>
<!-- end of Narbar-->

<!-- LEFT -->
<main>
    <!-- START OF C Language-->
            <div class="sidebar bg-light shadow">
                <div class="flex-shrink-0 p-3 " >
                    <a href="/course" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold"><i class='fas fa-code' style='font-size:24px'></i> C Language</span>
                    </a>
                    <ul class="list-unstyled ps-0">


                        <div class="accordion" id="accordionParentC"> 

                            <!-- START OF Introduce-->   
                            <li class="mb-1">
                                <li><a href="/course" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button">
                                    Introduce
                                </a></li>
                            <!-- START OF SYSNTAX-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#syntax-collapse" aria-expanded="false">
                                    Syntax
                                </button>
                            </li>
                                    <div  class="accordion-collapse collapse show" id="syntax-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-sysntax-A" class="link-dark rounded collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#CollapseSidebar">
                                                <b>A</b>
                                            </a></li>

                                            <li><a href="/course-sysntax-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-sysntax-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>

                            <!-- START OF Datatype-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#button-collapse" aria-expanded="false">
                                    Datatype
                                </button>
                            </li>
                                    <div class="collapse" id="button-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-datatype-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-datatype-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-datatype-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>
                                        </ul>
                                    </div>
                            </li>
                            <!-- START OF Operators-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#Operators-collapse" aria-expanded="false">
                                    Operators
                                </button>
                            </li>
                                    <div class="collapse" id="Operators-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-operators-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-operators-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-operators-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>
                            <!-- START OF Control Statement-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#Control-collapse" aria-expanded="false">
                                    Control Statement
                                </button>
                            </li>
                                    <div class="collapse" id="Control-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-control_statement-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-control_statement-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-control_statement-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>
                            <!-- START OF Loop-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#Loop-collapse" aria-expanded="false">
                                    Loop
                                </button>
                            </li>
                                    <div class="collapse" id="Loop-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-loop-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-loop-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-loop-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>
                            <!-- START OF Array-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#array-collapse" aria-expanded="false">
                                    Array
                                </button>
                            </li>
                                    <div class="collapse" id="array-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-array-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-array-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-array-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>
                            <!-- START OF File Operation-->
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed btn-sm" data-bs-toggle="collapse"
                                    data-bs-target="#File-collapse" aria-expanded="false">
                                    File Operation
                                </button>
                            </li>
                                    <div class="collapse" id="File-collapse" data-bs-parent="#accordionParentC">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li><a href="/course-file_operation-A" class="link-dark rounded collapsed"  type="button" >
                                                A
                                            </a></li>

                                            <li><a href="/course-file_operation-B" class="link-dark rounded collapsed"  type="button" >
                                                B
                                            </a></li>

                                            <li><a href="/course-file_operation-test" class="link-dark rounded collapsed"  type="button" >
                                                แบบทดสอบท้ายบท
                                            </a></li>

                                        </ul>
                                    </div>
                            </li>



                        </div>
                            

                    <!-- recommendation-->
                    <thead>
                        <div class="card ">
                            <div class="card-header">
                                
                                <i class="fa fa-fire" style="font-size: 25px;;align-items: center; " ></i><b> เนื้อหาที่แนะนำ</b>
                                <div class="card-body">
                                    <h6 class="card-title">COURSE : A</h6>
                                    <h6 class="card-title">Project : Tik</h6>
                                    <p class="card-text">TEST ABC</p>
                                </div>
                            </div>
                    </thead>
                </div>
            </div>
        </main>
<!-- END OF LEFT-->     

<!-- MIDDLE 1 -->
        <div class="content">
            <div id = "content" class="container">
                <div class="accordion" id="accordionParentSyntax">

                    <!--   syntaxA -->
                    <div id="CollapseSidebar" class="accordion-collapse collapse show" data-bs-parent="#accordionParentSyntax">
                        <h1>syntaxA</h1> 
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i href="/home" class="fa fa-home" style="font-size:16px"></i></li>
                            <li class="breadcrumb-item active" aria-current="page">Course</li>
                        </ol>
                        <div class="box bg-light  mb-5 shadow" >
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                                <h1 id = 'content'> วิธีทำโจทย์ <br>,Recommendation </h1>
                            </div>

                        </div>
                    </div>
                        <div class="row">
                            <div class="col-auto me-auto"></div>
                            <div class="col-auto">
                                
                                <a href="/course-sysntax-B" class="btn btn-secondary btn-sm fs-6 fw-semibold " >Next </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
    </body>
</html>


